.description{
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
}


.description.-title{
    margin-bottom: 100px;
    margin-top: 154px;
    font-size: 25px;
}

.description.-nota{
    margin-bottom: 28px;
}

.description.-frete{
    display: inline-block;
    margin-bottom: 25px;
    word-spacing: 80px;
}

.description.-preco{
    margin-bottom: 70px;
    word-spacing: 75px;
}

.description.-conteudo{
    margin-bottom: 30px;
    font-size: 18px;
}
.description.-more{
    text-decoration: none;
    margin-bottom: 80px;
    display: block;
    font-size: 20px;
}
