.description-product{
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
}


.description-product > .title{
    margin-bottom: 50px;
    font-size: 25px;
}

.description-product > .item{
    font-size: 20px;
    margin-bottom: 28px;
}

.description-product > .item.-info{
    width: 200px;
    text-align: right;
}

.description-product > .item.-last{
    margin-bottom: 72px;
}

.description-product .contrast{
    text-transform: uppercase;
    float: left;

}

.description-product > .conteudo{
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}
.description-product > .conteudo.-more{
    margin-bottom: 0px;
}

.description-product .action{
    color: inherit;
    text-decoration: none;
}

.description-product > .-stars{
    margin-bottom: 10px;
    cursor: pointer;
}

.description-product > .item.-heart {
    position: absolute;
    transform: translateX(-100%);
    top: 8px;
    left: -47px;
    cursor: pointer;
}

.description-product > .item.-heart:hover{
    transform: scale(1.1) translateX(-90%);
    transition: all 100ms linear;
}

.description-product > .item.-stars > img:hover{
    transform: scale(1.2);
    transition: all 100ms linear;
}


/* Pega o prox elemento de class item abaixo de starts. */
/* .description-product .stars + .item{
    margin-left: 4px;
} */