.header-store{
    color: #ffffff;
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
}

.header-store > .title{
    font-size: 40px;
    font-family: 'Roboto', Helvetica, sans-serif;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

.header-store > .navigation{
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    /* font-family: cursive; */
    float: right;
}

.header-store .item{
    display: inline-block;
    margin-right: 60px;
    padding-bottom: 8px;
}

.header-store .item.-menu{
    display: none;
}

.header-store .item.-last{
    margin-right: 0;
}

.header-store .action{
    position: relative;
    text-decoration: none;
    color: inherit;
}

.header-store #menu{
    display: inline-block;
}


/* After cria um elemento "depois", o display padrão do after é inline, portanto, não aceita width nem height. Para isso, setamos position: absolute; */
.header-store .action::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0px;
    height: 1px;
    transition: width 300ms ease-in-out;
    background-color: #fff;
}

.header-store .action:hover::after{
    width: 100%;
}

@media(max-width: 1310px){
    .header-store{
        padding-right: 60px;
        margin-bottom: 60px;
    }
}

@media (max-width: 1235px){
    .header-store > .title{
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .header-store > .navigation{
        float: none;
        text-align: center;
    }

}

@media (max-width: 960px){
    .header-store{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 770px){
    .header-store{
        margin-bottom: 60px;
    }
}

@media (max-width: 532px){
    .header-store .item{
        margin-right: 30px;
    }
}

@media (max-width: 472px){
    .header-store .item{
        margin-right: 15px;
    }
}

@media (max-width: 382px) {
    .header-store{
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 30px;
    }

    .header-store .item{
        margin-right: 8px;
    }
}

@media (max-width: 340px){
}