body{
    background-color: #e24647;
}

header{
    background-color: #e24647;
    color: #ffffff;
}

h1{
    font-size: 40px;
    font-family: 'Roboto', Helvetica, sans-serif;
    float: left;
    margin: 30px;
}

nav{
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    /* font-family: cursive; */
}

a{
    text-decoration: none;
    color: inherit;
    float: right;
    margin: 30px;
}
